<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%msg\n" />
    </Console>
  </Appenders>
  
  <Loggers>
    <Logger name="org.jcvi.vigor" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="ERROR">
            <AppenderRef ref="Console"/>
    </Root>
    </Loggers>

</Configuration>
