<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <Property name="log-path">logs/</Property>
    </Properties>

  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%msg\n" />
    </Console>
  </Appenders>
  
  <Loggers>
    <Logger name="org.jcvi.vigor" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="org.springframework" level="error" additivity="false" />

    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>

  </Loggers>

</Configuration>
